@using System.Security.Claims
@model WebApp.ViewModels.BookingViewModel



@{
    ViewData["Title"] = "Create";
    var isAdmin = User.IsInRole("Admin");
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.RoomId" class="control-label"></label>
                <select asp-for="Booking.RoomId" class="form-control" asp-items="Model.RoomSelectList"></select>
                <span asp-validation-for="Booking.RoomId" class="text-danger"></span>
            </div>

                       @if (isAdmin)
            {
                <div class="form-group">
                    <label asp-for="Booking.QuestId" class="control-label"></label>
                    <select asp-for="Booking.QuestId" class="form-control" asp-items="ViewBag.AppUserId"></select>
                    <span asp-validation-for="Booking.QuestId" class="text-danger"></span>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="Booking.QuestId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
            }

            <div class="form-group">
                <label asp-for="Booking.StartDate" class="control-label"></label>
                <input asp-for="Booking.StartDate" class="form-control" type="date" />
                <span asp-validation-for="Booking.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.EndDate" class="control-label"></label>
                <input asp-for="Booking.EndDate" class="form-control" type="date" />
                <span asp-validation-for="Booking.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Booking.IsCancelled" /> @Html.DisplayNameFor(model => model.Booking.IsCancelled)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

